.comment__list {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  min-height: 650px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  z-index: 0; }

.comment__item {
  width: 25%;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s; }
  .comment__item:hover .comment__info {
    opacity: 1; }
  .comment__item:hover {
    opacity: 0.9; }
  @media (max-width: 768px) {
    .comment__item {
      width: 50%; } }

.nohover {
  width: 25%;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s; }
  @media (max-width: 768px) {
    .nohover {
      width: 50%; } }

.comment__info {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  padding: rem(10px);
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s; }
  @media (max-width: 768px) {
    .comment__info {
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }
  @media (max-width: 480px) {
    .comment__info {
      text-align: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; } }

.comment__name {
  font-size: rem(14px);
  font-family: 'gagalinregular';
  color: white;
  line-height: 2.008;
  text-align: left;
  letter-spacing: -0.09em;
  margin-bottom: rem(12px); }
  @media (max-width: 768px) {
    .comment__name {
      margin: 0 auto;
      margin-bottom: rem(12px); } }
  @media (max-width: 480px) {
    .comment__name {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px; } }

.comment__text p {
  font-size: rem(14px);
  font-family: 'ubuntulight';
  color: white;
  line-height: 1.714;
  margin-bottom: rem(12px); }
  @media (max-width: 768px) {
    .comment__text p {
      line-height: rem(17px); } }
  @media (max-width: 480px) {
    .comment__text p {
      display: none; } }

.comment__btn {
  font-size: rem(13px);
  font-family: "Ubuntu";
  font-weight: medium;
  color: white;
  text-transform: uppercase;
  background-color: #1f2122;
  border: none;
  cursor: pointer; }
  .comment__btn:hover {
    background-color: #2f3234; }

.modalcom {
  position: fixed;
  top: 500%;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: rgba(49, 51, 52, 0.92);
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100; }

.modalcom__conteiner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: rem(20px);
  width: rem(440px);
  height: rem(235px);
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-border-radius: 5%;
          border-radius: 5%;
  background: #fff;
  opacity: 1; }
  @media (max-width: 480px) {
    .modalcom__conteiner {
      width: rem(240px);
      height: rem(340px); } }

.modalcom__top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: rem(5px); }

.modalcom__title {
  text-align: center;
  color: #2f3234;
  font-size: rem(14px);
  font-family: 'gagalinregular';
  text-transform: uppercase; }

.modal__closing {
  cursor: pointer;
  position: relative;
  z-index: 200; }

.modalcom__text p {
  font-family: 'ubuntulight';
  font-size: rem(14px);
  line-height: 1.714;
  color: #2f3234;
  text-align: start; }
