.pageScroll{
  position: fixed;
  top: 15%;
  right: 12%;
}
.pageScroll__item{
  position: relative;
  display: block;
  width: rem(5px);
  height: rem(5px);
  border-radius: 50%;
  background: #ffffff;
  padding: rem(3px);
  margin: rem(20px) rem(5px);
  z-index: 10000;
  cursor: pointer;
}
.activ::before {
  content: "";
  display: block;
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  left: -5px;
  top: -5px;
  border: 1px solid #ffffff;

}