.welcome{
    background-image: url(../img/background/Rectangle.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}
.header{
  display: flex;
  width: 100%;
 justify-content: space-between;
  padding-top: rem(10px);
  align-items: center;
}
.header__nav{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-right: rem(11px);
  margin-top: rem(-10px);
}
.nav__list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  @media (max-width: 768px){
    display: none;
  }
}
.nav__item {
  padding-left: rem(10px);
  &:last-child {
    .nav__link:after {
      display: none;
    }
  }
}
.nav__link{
  display: flex;
  align-items: center;
  color: #fff;
  font-family: ubuntu;
  font-size: rem(13px);
  font-style: normal;
  font-weight: medium;
  text-transform: uppercase;

  &:after {
    content: "";
    display: block;
    width: rem(4px);
    height: rem(4px);
    border-radius: 50%;
    background: #fff;
    align-items: center;
    margin-left: rem(10px);
  }
  &:hover{
    text-decoration: underline;
  }
}
.header__btn {
  background: #e35028;
  color: #fff;
  font-family: 'ubuntu';
  font-size: rem(13px);
  font-style: normal;
  font-weight: medium;
  text-transform: uppercase;
  margin-left: rem(15px);
  &:hover{
    background: #c1401e;
  }
}

.content{
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: rem(80px);

  @media (max-width: 768px) {
    flex-direction: column;
  }
}
.content__burger{
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.content__desc{
  width: 50%;
  display: flex;
  flex-direction: column;

  @media (max-width: 768px){
    width: 100%;
  }
}
.content__title{
  font-family: 'gagalinregular';
  color: #f9b43b;
  margin-top: rem(40px);
  padding: rem(20px) rem(7px);
  text-align: start;

  @media (max-width: 768px) {
    text-align: center;
    align-self: center;
  }
}
.content__text{
  font-size: rem(65px);
  font-family: 'lifehack';
  color: #fff;
  text-transform: lowercase;
  line-height: 1.01em;
  margin-left: rem(3px);
  letter-spacing: rem(-5px);

  @media (max-width: 768px){
    text-align: center;
    align-self: center;
  }
}
.content__link{
  margin-bottom: rem(39px);
  display: flex;
  justify-content: center;
}
.content__arrow{
  width: rem(30px);
  &:hover{
    width: rem(35px);
  }
}

